.DS_Store
.pytest_cache/
.ruff_cache/
.nuitka-cache/
.venv/
build/
dist/
frontend/node_modules/
frontend/dist/
frontend/package.json.md5
__pycache__/
*.pyc
.cache
nuitka-crash-report.xml
output
.home
tmp
.tmp
